.header {
    flex-direction: row;
}

.header nav ul {
    flex-direction: row;
}

.nav-list-item {
    margin-left: 0;
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
    }
    .header nav ul {
        flex-direction: row;
        justify-content: center;
    }
}